<!DOCTYPE html>
<html ng-csp>
<head>
    <meta charset="utf-8" />
    <title>ToDoMVC</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.2.0/css/ui-dark.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.2.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.2.0/js/ui.js"></script>
    
    <link href="/css/default.css" rel="stylesheet" />   
   
    <!-- Fix for ng-cloak an ng-hide which is disabled by the ng-csp option -->
    <style type="text/css">
        @charset "UTF-8";

       [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak,.ng-hide, .ng-hide:not(.ng-animate) {
            display: none !important;
        }
    </style>

    <script type="text/javascript" src="js/ext/require.js"></script>
    <script type="text/javascript" src="js/main.js"></script>    
</head>
<body>
    <section id="todoapp" class="main" ng-controller="ToDoController">
        <header id="header">
            <h1>todos</h1>
	</header>
		<section id="form">
            <form id="todo-form" ng-submit="addTodo()">
            	<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
            	<div>
            		<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
            		<label for="toggle-all">Mark all as complete</label>
            	</div>
            </form>
        </section>
        <section id="main" ng-show="todos.length" ng-cloak>           
            <ul id="todo-list">
                <li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-model="todo.completed">
                        <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                        <button class="destroy" ng-click="removeTodo(todo)"></button>
                    </div>
                    <form ng-submit="doneEditing(todo)">
                        <input class="edit" ng-trim="false" ng-model="todo.title" ng-blur="doneEditing(todo)">
                    </form>
                </li>
            </ul>
        </section>        
        <win-app-bar>
            <win-app-bar-command ng-show="remainingCount < todos.length" section="'global'" icon="'clear'" label="'Clear completed'" ng-click="clearDoneTodos()"></win-app-bar-command>

            <win-app-bar-command section="'selection'" icon="'clear'" label="'All'" ng-click="select('All')"></win-app-bar-command>
            <win-app-bar-command section="'selection'" icon="'&#xE179;'" label="'Active'" ng-click="select('Active')"></win-app-bar-command>
            <win-app-bar-command section="'selection'" icon="'&#xE133;'" label="'Completed'" ng-click="select('Completed')"></win-app-bar-command>
        </win-app-bar>
    </section>
	
	</body>
</html>
